<app-navbar></app-navbar>
<div    class="container" 
        style="margin-top: 15px;">
    <div    class="card mx-auto" 
            style="width: 30rem;">
        <div class="card-header">
            <h5 class="card-title text-center">
                {{pokemon.id}} - {{pokemon.name}}
            </h5>
        </div>
        <img    src="{{pokemon.sprites.front_default}}" 
                class="card-img-top" 
                alt="pokemon.name">
        <div    class="card-footer"
                *ngFor="let type of pokemon.types">
            <h5 class="card-subtitle">
                {{type.type.name}}
            </h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Height: {{pokemon.height}}</li>
            <li class="list-group-item">Weight: {{pokemon.weight}}</li>
            <li class="list-group-item">
                <h5 class="card-text">Movements</h5>
                <div class="row">
                    <div    class="col-md-4"
                            *ngFor="let move of pokemon.moves">
                            <span>{{move.move.name}},</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>